<section class="admin-products-new">

  <header class="page-header">
    <h1>Admin &raquo; New Category</h1>
  </header>

  <div class="well">
    <p>
    <%= link_to 'Show All Categories', [:admin, :categories], class: 'btn btn-lg btn-success' %>
    </p>
  </div>
  
  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_for [:admin, @category] do |form| %>

      <% if form.object.errors.any? %>
        <div class="alert alert-danger">
          <strong>The following errors prevented saving:</strong>
          <ul>
            <% form.object.errors.full_messages.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
      <p>
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
      </p>
      </div>

      <%= form.submit 'Create Category', class: 'btn btn-lg btn-success' %>
      <% end %>
    </div>
  </div>

</section>